#img-bg {
  background-image: url("https://image.freepik.com/fotos-gratis/fundo-de-folhagem-tropical-com-cartao-em-branco_24972-451.jpg");

  min-height: 695px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#img-cad {
  width: 100px;
  height: 100px;
}

.glass {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  width: 600px;
}
