#img-bg {
  background-color: #333;
  background-image: url('https://37.media.tumblr.com/8b49699…/tumblr_n3iftvUesn1snvqtdo1_1280.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

}

#img-cad {
  width: 100px;
  height: 100px;
}

.glass {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  width: 600px;
}
